<h1 class="page-title"> Cardápios </h1>
<h3 id="notice"><%= notice %></h3>

<div class="btn_container">
  <%= link_to 'Criar Cardápio', new_menu_path, class: "btn btn--link" %>
</div>

<div class="table_container">
  <div class="grid-container">
      <% @menus.each do |menu| %>
        <% if menu.active %>  
          <div class="grid-item green"><%= link_to menu.name, edit_menu_path(menu) %></div>
        <% else %>
          <div class="grid-item"><%= link_to menu.name, edit_menu_path(menu) %></div>
        <% end %>
      <% end %>
  </div>
</div>