<div class="header"> 
  <div class= "header--logo"> 
    <a href="/tables" > Garçon.NET</a> 
  </div>

  <ul class="header--buttons">
    <li class="button__register"><b> Registre-se </b></li>
    <li class="button__login"><b> Login </b></li>
  </ul> 
</div>

<%= render 'welcome' %>

<%= render 'shared/footer' %>