<div class="header"> 
  <div class= "header--logo"> 
    <a href="/welcome" > Garçon.NET</a> 
  </div>
</div>

<div class="container">
  <%= render 'form', user: @user %>

  <%= link_to 'Back', users_path %>
</div>