<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">

<div class="header"> 
  <div class= "header--logo"> 
    <a href="/welcome" > Garçon.NET</a> 
  </div>

  <% if request.env['PATH_INFO'] == '/welcome'%>
    <ul class="header__buttons">
      <li><a href="/register" class="button__register"><b> Registre-se </b></a></li>
      <li><a href="/users/sign_in" class="button__login"><b> Login </b></a></li>
    </ul> 
   <% elsif request.env['PATH_INFO'] == '/register'%>
    <ul class="header__buttons">
      <li><a href="/users/sign_in" class="button__login right"><b> Login </b></a></li>
    </ul> 
    <% elsif request.env['PATH_INFO'] == '/users/sign_in'%>
      <ul class="header__buttons">
        <li><a href="/register" class="button__register right"><b> Registre-se </b></a></li>
      </ul> 
    <% else %>
      <div class= "header__menu"> 
        <nav>
         
          <ul>
            <li><a href="/tables"> Mesas </a></li>
            <li><a href="/commands"> Comandas </a></li>
            <li><a href="/orders"> Pedidos </a></li>
          </ul>

          <ul class="admin">
            <a href=""> Admin ⤵ </a>
            
            <ul class="buttons-admin">            
                <li><a href="/users"> Usuários</a></li>
                <li><a href="/menus"> Cardápios </a></li>
                <li><a href="/products"> Produtos </a></li>
                <li><a href="/admin/tables"> Mesas </a></li>
                <li><a href="/dashboard"> Relatórios </a></li>             
            </ul>

            <li class="perfil">
              <img src="<%= image_url 'notification.svg' %>" alt="notification">
            </li>
            <li class="name-logout">
              <small class="user-name"> Olá, <%= current_user.nil? ? 'Pessoa' : current_user.name %> </small>
              <a class="logout" href="">Sair</a>
            </li> 
          </ul>           
        </nav> 
      </div>
  <% end %>
</div>

<script src="./assets/drop_menu.js"></script>