<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">

<div class="header"> 
  <div class= "header--logo"> 
    <a href="/welcome" > Garçon.NET</a> 
  </div>

  <% if request.env['PATH_INFO'] == '/welcome'%>
    <ul class="header--buttons">
      <li><a href="/register" class="button__register"><b> Registre-se </b></a></li>
      <li class="button__login"><b> Login </b></li>
    </ul> 
  <% end %>
</div>
