.page-title {
  margin-left: 2%;
  margin-top: 5rem;
  font-weight: bold;
  border-bottom: 1px solid #EEE;
  color: #333;
  padding: 15px;

  abbr {
    color: #999;
    text-decoration: none;
  }
}

.order-status {
  border: 1px solid black;
  border-radius: 10px;
}