<h1 class="page-title"> Comanda de <%= @command.client_name %></h1>
<h3 id="notice"><%= notice %></h3>

<%= render partial: "payment_option", locals: {command: @command} %>

<div class="table_container">
  <table class="table">
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantidade</th>
        <th>Status</th>
        <th>Total</th>
        <th> </th>
      </tr>
    </thead>

    <tbody>
      <% @command.line_items.each do |line_item| %>
        <%= render partial: "line_item", locals: {line_item: line_item} %>
      <% end %>
    </tbody>
  </table>
  <br>
</div>
